<div class="container">
  <br>
  <div class="text-center my-4">
    <h2 class="semibold-text red-text">GALLERY</h2><br>
    <ul class="list-inline selector my-4">
      <li class="list-inline-item left" [class.active]='!isYoutube' (click)='isYoutube = false'>
        <h4 class="regular-text">PICTURES</h4>
      </li>
      <li class="list-inline-item right" [class.active]='isYoutube' (click)='isYoutube = true'>
        <h4 class="regular-text">VIDEOS</h4>
      </li>
    </ul>
  </div>
  <br>

  <app-gallery-pictures *ngIf='!isYoutube'></app-gallery-pictures>

  <app-gallery-videos *ngIf='isYoutube'></app-gallery-videos>

</div>
