@import '../../../styles.scss';

.active-category {
  color: $color-red;
  text-decoration: underline;
}

.active-download {
  color: $color-red;
  cursor: pointer;
}

.cover-container {
  width: 84%;
  margin-left: 8%;
  padding-bottom: 90%;
  background-size: cover;
  background-position: center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}