@import '../../../../styles.scss';

.crafts-card {
  width: 90%;

  .craft-image {
    img {
      width: 100%;
    }
  }

  .craft-content {
    background-color: black;
    color: white;
  }
}

ul {
  min-height: 50px;
}
