
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Dandelon;
  src: url(/assets/fonts/dandeleon/DandeleonVintageDemo.otf) format("opentype");
}

@font-face {
  font-family: Monteserrat Semibold;
  src: url(/assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Monteserrat Regular;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}


$color-red: #8B2114;
$color-yellow: #F0DE66;
$color-grey: #E3E3E3;
$color-dark-grey: #2D2D2D;
$color-blue: #6BCDCD;

$text-norm: 1rem;
$text-h1: 1.5rem;
$text-h2: 1.2rem;

$padding-small: 6px;
$padding: 12px;
$padding-large: 24px;

html {
  scroll-behavior: smooth;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-red {
  background-color: $color-red;
  color: white;
}

.bg-dark-grey {
  background-color: $color-dark-grey;
  color: white;
}

.semibold-text {
  font-family: 'Monteserrat Semibold';
}

.regular-text {
  font-family: 'Monteserrat Regular';
}

.dandelon-text {
  font-family: 'Dandelon';
  position: relative;
}

.btn-danger {
  background-color: $color-red !important;
  font-family: 'Monteserrat Semibold';
  font-size: 18px;
  padding: 5px 10px;
  width: fit-content;
  h4 {
    margin-bottom: 0;
  }
}

.red-text {
  color: $color-red !important;
}

.all-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h4 {
  font-size: 20px;
  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
  }
}

h2 {
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

p {
  font-family: 'Monteserrat Regular';
  font-size: 16px;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}
